/*
 _____  _ _  ___   __ _  _____  _ _     
|_   _|| '_// -_) / _` ||_   _|\ v /    
  |_|  |_|  \___| \__,_|  |_|   |_| 
*/
/*A stylesheet for CSS that effects all of the webpages in the Treaty5 website*/
/*COLOR THEORY NOTE
For the background color I chose beige because its a light color and it contrasts well with most colors 
and i chose the green because it contrasts and pops (I'm fairly sure i does at least).*/
body {
    background-color: beige;    
}
main {
    font-family: sans-serif;
}
div {
    text-align: center;
}
nav {
    background-color: limegreen;
}
li {
    font-size: large;
    display: inline;
    padding: 16px;
    margin: 16px;
}
img {
    border-width: 5px;
}
* {
    font-family: sans-serif;
}